*.pytest_cache
*.vscode
*.code-workspace
*.idea
*.DS_Store
analysis/webservice/algorithms/doms/domsconfig.ini
data-access/nexustiles/backends/nexusproto/config/datastores.ini
data-access/nexustiles/config/datasets.ini
venv/

dist/