*.pytest_cache
*.vscode
*.code-workspace
*.idea
*.DS_Store
analysis/webservice/algorithms/doms/domsconfig.ini
data-access/nexustiles/config/datastores.ini
venv/

data-access/tests/data/zarr_test_data/*

