anyio==3.6.1
appdirs==1.4.4
argcomplete==1.12.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.4.0
astroid==2.6.6
asttokens==2.0.5
atomicwrites==1.4.0
attrs==20.3.0
Babel==2.10.1
backcall==0.1.0
basemap==1.2.1
beautifulsoup4==4.9.3
bleach==5.0.0
Bottleneck==1.2.1
Cartopy==0.19.0
ceph==1.0.0
cephfs==2.0.0
certifi==2020.12.5
cffi==1.14.5
cftime==1.4.1
chardet==4.0.0
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==1.6.0
conda==4.10.1
conda-package-handling==1.7.2
configobj==5.0.6
configparser==5.0.2
cryptography==3.4.6
cycler==0.10.0
Cython==0.29.21
cytoolz==0.11.0
dasbus==1.4
dbus-python==1.2.18
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.7.1
distro==1.5.0
entrypoints==0.4
executing==0.8.3
fail2ban==0.11.2
fastjsonschema==2.15.3
Fiona==1.8.21
frozendict==1.2
future==0.18.2
GDAL==3.2.2
geopandas==0.10.2
Glances==3.1.4.1
gpg==1.15.1
idna==2.10
importlib-metadata==4.11.4
iniconfig==1.1.1
iniparse==0.4
iotop==0.6
ipykernel==6.13.0
ipython==8.4.0
ipython-genutils==0.1.0
isc==2.0
isort==5.7.0
jedi==0.17.2
Jinja2==3.1.2
joblib==1.0.1
json5==0.9.8
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
kiwisolver==1.3.2
lazy-object-proxy==1.6.0
libarchive-c==2.9
libcomps==0.1.18
lxml==4.6.5
lz4==3.0.2
MarkupSafe==2.1.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mccabe==0.6.1
MetPy==1.1.0
mistune==0.8.4
mock==3.0.5
more-itertools==8.12.0
munch==2.5.0
mysql-connector-python==8.0.21
mysqlclient==1.4.6
nbclassic==0.3.7
nbclient==0.6.4
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
netCDF4==1.5.5.1
nftables==0.1
notebook==6.4.11
notebook-shim==0.1.0
ntp==1.2.1
numexpr==2.7.1
numpy==1.20.1
olefile==0.46
OWSLib==0.21.0
packaging==20.9
pandas==1.2.5
pandas-datareader==0.9.0
pandocfilters==1.5.0
parso==0.8.0
pathlib2==2.3.6
pbr==5.5.1
perf==0.1
pexpect==4.8.0
pickle5==0.0.11
pickleshare==0.7.5
Pillow==8.1.2
Pint==0.17
pluggy==0.13.1
ply==3.11
podaacpy==2.4.0
pooch==1.5.1
prettytable==0.7.2
prometheus-client==0.14.1
prompt-toolkit==3.0.5
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.6.0
pure-eval==0.2.2
py==1.11.0
py-cpuinfo==7.0.0
py3nvml==0.2.6
pycairo==1.20.1
pycosat==0.6.3
pycparser==2.20
Pygments==2.7.4
PyGObject==3.40.1
pykdtree==1.3.4
pylint==2.9.6
PyMySQL==0.10.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyproj==3.2.0
PyQt4-sip==4.19.24
PyQt5==5.15.0
PyQt5-sip==4.19.24
pyrsistent==0.18.1
pyshp==2.1.3
PySocks==1.7.1
pytest==6.2.2
pytest-runner==4.0
python-dateutil==2.8.2
python-dmidecode==3.12.2
python-linux-procfs==0.6.3
pytz==2021.3
pyudev==0.22.0
PyYAML==5.4.1
pyzmq==23.0.0
rados==2.0.0
rbd==2.0.0
requests==2.25.1
requests-file==1.5.1
rgw==2.0.0
rpm==4.16.1.3
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
ruptures==1.1.4
scikit-learn==0.24.1
scipy==1.6.2
selinux==3.2
Send2Trash==1.8.0
sepolicy==3.2
setools==4.4.0
setroubleshoot==1.1
Shapely==1.7.1
simplegeneric==0.8.1
six==1.15.0
slip==0.6.4
slip.dbus==0.6.4
smartcols==0.3.0
sniffio==1.2.0
sos==4.1
soupsieve==2.2.1
SSSDConfig==2.5.2
stack-data==0.2.0
systemd-python==234
tables==3.6.1
terminado==0.15.0
threadpoolctl==2.0.0
tinycss2==1.1.1
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.1
traitlets==5.2.2.post1
typed-ast==1.4.3
urllib3==1.25.10
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
wrapt==1.12.1
xarray==0.19.0
xlrd==2.0.1
xlwt==1.3.0
xmltodict==0.12.0
zipp==3.8.0
