netcdf4==1.5.1.2
basemap==1.2.0
scipy==1.2.1
pytz==2020.1
utm==0.5.0
shapely==1.6.4
backports.functools_lru_cache==1.6.1
boto3==1.14.16
pillow==5.4.1
mpld3=0.5.1
tornado==5.1.1
pyproj==1.9.4
geos==3.7.2
gdal==3.0.2
mock==2.0.0
singledispatch==3.4.0.3

